input[type="button"] {
    background-color: #fff;
    color: black;
    width: 100%;
    border-radius: 10%;
    font-size: 16px;
}

input[type="button"]:hover {
    background-color: lightblue;
}

input[type="button"][value="="] {
    font-weight: bold;
    background-color: rgb(36, 170, 214);
}

input[type="button"][value="."] {
    font-weight: bold;
}

input[type="text"] {
    background-color: rgb(204, 208, 212);
    border-radius: solid grey 2px;
    color: black;
}

div {
    background-color: rgb(204, 208, 212);
    border: solid white 2px;
    width: 40%;
}